# Ignore system-specific files
.DS_Store
Thumbs.db

# Environment files
**/*.env

# Backup files
*~
*.swp
*.bak
*.tmp

# Python cache
*.pyc
__pycache__/
*/__pycache__/

# Build artifacts
*.egg-info/
build/
**/wheelhouse/

# Cython compiled
*.so
*.pyd

# Venv
venv/
.venv/
env/
.env/

.obsidian/

**/Roadmap.md
**/Planning.md

# vscode
**/.vscode/

# Full lastfmstats JSON export
*/data/lastfmstats-lazulinoother.json

*/docs/build/
/docs/build/

notebooks/
*.ipynb_checkpoints/
