.bd-sidebar-primary {
    max-width: 20%;
}    

.bd-page-width {
    max-width: 100%;  /* default is 88rem */
}

html[data-theme="light"] {
    --pst-color-primary: #F75552;
    --pst-color-secondary: #DEA000;
}

html[data-theme="dark"] {
    --pst-color-secondary: #6C757D;
}

